@charset "utf-8";/* 携帯 縦 */

html,body{
	font-family: "Verdana", "メイリオ", "Meirio", "sans-serif"; 
	height: 100vh;
	width: 100vw;
	background-color: rgb(255, 255, 255); 
}
/* ロゴ */



div#Header{width:100%;height:60px;text-align:center;position:fixed;top:0;z-index:555;font-size:24pt;background-color: rgb(255, 255, 255);}

a{text-decoration: none}
/*  */
